#mainListing{
    margin-left: 12%;
    margin-top: 5%;
}

#filter{
    height:700px;
    width:20%;
    float: left;
    border: 5px solid gray;
    border-radius:20px;
    background-color: #a7a7e4;
}
#content{
    width:65%;
    float: left;
    margin-left: 5%;
    margin-top: -1%;

}


.darkbg{
    background-color:black;
    font-family: 'Times New Roman', Times, serif;
}

.item {
    width: 800px;
    height: 350px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 20px;
    padding:10px;
    margin-top:30px;
    background-color:#ea6060;
    border-radius: 20px;
    font-family: 'Comfortaa', sans-serif;
}

.Image {
    width: 200px;
    border-radius: 23px;
    background-color: #ea6060;
    margin-left:5%;
    margin-top:35px;
}

.hotel_name {
    width: 100%;
    height: 43px;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    font-family: 'Comfortaa', sans-serif;
}

.city_name {
    width: 100%;
    height: 23px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    font-family: 'Comfortaa', sans-serif;
}

.rating {
    line-height: 5.4;
}

.labelDiv{
    margin-top:5%;
    font-size:25px;
}

.rowi{
    background-color: #60eaa5;
    border-radius:50px;
    padding:10px;
    margin:30px;
    font-family: 'Comfortaa', sans-serif;
    vertical-align: middle;
}